<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap/bootstrap.min.css" rel="stylesheet">
	<link href="bootstrap/bootstrap-theme.min.css" rel="stylesheet">

	<title>InsertRemoveList | VueJS </title>
</head>
<body>
	<div class="container" style="padding-top: 50px;" id="root">
		<div class="panel panel-primary">			
			<div class="panel-heading">Adicione / Remova Nomes na lista abaixo</div>
	  		<div class="panel-body">
				<div class="row col-md-5">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
						    <div class="col-sm-10">
						      <input v-model="name" id="nome" type="text" class="form-control" placeholder="Nome">
						    </div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button @click="adicionarNome" type="button" class="btn btn-default">Adicionar
								</button>
							</div>
						</div>
					</form>
				</div>
				<div class="row col-md-2">
				</div>
				<div class="row col-md-5">
					<div v-for="nome in nomes" class="list-group">
					  <button type="button" class="list-group-item">{{ nome }}</button>
					  <a @click="removerNome" href="#">Remover</a>
					</div>
				</div>
	  		</div>
		</div>
	</div>

	<script type="text/javascript" src="src/vue.js"></script>
	<script type="text/javascript" src="src/vue/app.js"></script>
	<script type="text/javascript" src="bootstrap/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="bootstrap/bootstrap.min.js"></script>

	<script type="text/javascript">
		jQuery(function(){
			$('#nome').focus();
		})
	</script>

</body>
</html>